%form{:method=>"post", :action=>"/post"}
  %p
    %label{:for=>"body"} Body
    %br
    %textarea{:name=> "body", :id=> "body", :cols => 80, :rows => 7}

    %p
      %input{:type => "submit", :value => "Post", :name => "commit"}